.btn.status-label-processing {
    background-color: var(--view-color);
}

.btn.status-label-on-delivery {
    background-color: #ffc107;
    color: #333;
}

.btn.status-label-completed {
    background-color: var(--success-color);
}

.btn.status-label-canceled {
    background-color: var(--danger-color);
}