.main-content-1{
    background-color: #fae5d4;
    position: relative;
    left: 16.3rem;
    width: calc(100vw - 16.3rem);
    padding: 1rem 2rem;
    box-sizing: border-box;
    min-height: 100vh;
}

.section-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: calc(100vw - 20rem); */
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px color-mix(in srgb, var(--third-color), transparent 75%);
}   