.main-content-1{
    background-color: var(--sixth-color);
    position: relative;
    left: 16.25rem;
    width: calc(100vw - 16.3rem);
    padding: 1rem 0 0 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.main-content-2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 25rem);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px color-mix(in srgb, var(--third-color), transparent 75%);
}   