/* ManagementsStyles.css */

.managements-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;
}

.managements-items-per-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.managements-items-per-page select{
    width: 5rem;
}

.managements-search-input-container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.managements-search-input{
    width: 100%;
}

.managements-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
}

.managements-tag {
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    background-color: var(--secondary-color);
}

.managements-products-name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.managements-products-name-container img {
    width: 5rem;
    height: 5rem;
    border-radius: var(--border-radius);
    object-fit: cover;
    margin-right: 0.5rem;
}

.managements-action-btn-container {
    display: flex;
    gap: 0.5rem;
}

.managements-pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.managements-pagination-a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: var(--border-radius);
    background-color: var(--secondary-light-color);
    cursor: pointer;
}
.managements-pagination-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: var(--border-radius);
    background-color: var(--secondary-light-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.managements-pagination-btn:hover{
    background-color: var(--secondary-color);
    color: white;
}
.managements-pagination-a{
    transition: none;
}

.managements-pagination-btn.disabled{
    background-color: #dcdcdc;
    color: #909090;
    cursor: not-allowed;
}

.managements-pagination-btn.active{
    background-color: var(--secondary-color);
    color: white;
}

.active-check-true{
    color: var(--success-color);
}

.active-check-false{
    color: var(--danger-color);
}