.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

/* Modal container with transition for width */
.modal-container {
    background-color: white;
    border-radius: 8px;
    height: 80vh;
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    transition: max-width 0.4s ease;
    padding: 2rem;
}

.modal-container.state-a {
    max-width: 600px;
    /* Width for state-a (e.g., reset form) */
}

.modal-container.state-b {
    max-width: 800px;
    /* Width for state-b (e.g., success message) */
}

.modal-content{
    overflow: auto;

}

/* Close button styling */
.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #555;
    width: 2rem;
    height: fit-content;
    transition: all 0.3s ease;
}

.modal-close-button:hover {
    color: #ff0000;
    background-color: #55555500;
}



/* For WebKit-based browsers (Chrome, Safari, newer Edge) */
.modal-content::-webkit-scrollbar {
    width: 0.5rem;
    /* Width of the scrollbar */
}

.modal-content::-webkit-scrollbar-track {
    background: #f2f2f2;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    /* Color of the thumb */

}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 162, 162);
}
