.user-managements-container {
    position: relative;
    width: 75%;
    display: flex;
    padding: 2rem 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100vh - 2rem);
}

.user-managements-header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-managements-select{
    width: 8.3rem;
}

.user-managements-btn{
    width: 8rem;
}

.user-managements-table{
    width: 100%;
}

.error-message {
    color: red;
    text-align: center;
}

/* Pagination Styles */
.pagination-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    padding: 8px 12px;
    border: 1px solid var(--fourth-color);
    color: var(--fourth-color);
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination li a:hover {
    background-color: var(--sixth-color);
    color: var(--fourth-color);
}

.pagination li.active a {
    background-color: var(--third-color);
    color: white;
    border-color: var(--fourth-color);
}

.pagination li.disabled a {
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
    cursor: not-allowed;
    background-color: rgb(255, 224, 224);
}