/* Import external stylesheets */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './css/InputFile.css';
/* Assuming this contains styles for input[type="file"] */

/* -------------------------------------------------- */
/* Root variables for consistent theming */
/* -------------------------------------------------- */
:root {
    --primary-color: #391f12;

    --secondary-color: #d27131;
    --secondary-hover-color: #b45b20;
    --secondary-light-color: color-mix(in srgb, var(--secondary-color), transparent 80%);

    --third-color: color-mix(in srgb, var(--secondary-color), transparent 90%);

    --danger-color: #d52027;
    --danger-hover-color:#971b1f;
    --danger-light-color: color-mix(in srgb, var(--danger-color), transparent 80%);

    --view-color: #31a2d2;
    --view-light-color: color-mix(in srgb, var(--view-color), transparent 80%);

    --success-color:#31d26f;
    --success-light-color: color-mix(in srgb, var(--success-color), transparent 80%);


    --box-shadow-secondary: 0 0 20px color-mix(in srgb, var(--secondary-color), transparent 80%);

    --nav-border: solid 0.1rem color-mix(in srgb, var(--secondary-color), transparent 75%);
    --nav-border-hover: solid 0.1rem var(--secondary-color);

    --border-radius: 0.5rem;

    --transition-time: 0.5s ease;
}

/* -------------------------------------------------- */
/* Basic HTML element styles */
/* -------------------------------------------------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

input, textarea, select, span, h1, h2, h3, div, button, a, tr, li, .quill-editor, label{
    transition: var(--transition-time);
    outline: none;
    text-decoration: none;
}


/* Selection styling */
::selection {
    color: white;
    background-color: var(--secondary-color);
} 

/* -------------------------------------------------- */
/* Typography */
/* -------------------------------------------------- */

h1 {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.form-group label {
    margin-bottom: 0.5rem;
}

hr{
    width: 100%;
    border: none;
    border-bottom: solid 0.1rem color-mix(in srgb, var(--secondary-color), transparent 80%);
    margin: 0.25rem 0;
}

/* -------------------------------------------------- */
/* Table styles */
/* -------------------------------------------------- */

.table-container{
    width: 100%;
    overflow-x: auto;
    box-shadow: var(--box-shadow-secondary);
    border-radius: var(--border-radius);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
}


table th,
table td {
    padding: 12px;
    color: var(--primary-color);
    text-align: left;
}

table tr {
    border-bottom: 0.25rem solid var(--third-color);
}

table tr:last-child {
    border-bottom: none; /* Remove from the last */
}



table th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
}

table tr:hover {
    background-color: var(--third-color);
}

/* -------------------------------------------------- */
/* Form element styles */
/* -------------------------------------------------- */
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
.view-product-textarea {
    height: 3rem;
    border: 0.12rem solid color-mix(in srgb, var(--secondary-color), transparent 75%);
    border-radius: var(--border-radius);
    padding-left: 1rem;
}

.quill-editor{
    border: 0.12rem solid color-mix(in srgb, var(--secondary-color), transparent 75%);
    outline: none;
    border-radius: var(--border-radius);

}

.ql-toolbar.ql-snow {
    border: none;
    border-bottom: 0.12rem solid color-mix(in srgb, var(--secondary-color), transparent 75%);;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow{
    border: none;
}

select {
    padding-left: 0.7rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.5rem);
    background-position-y: center;
}

textarea {
    width: 34rem;
    height: 19rem;
    min-height: 2.5rem;
    max-height: 19rem;
    padding: 0.5rem 1rem;
    resize: none;
    font-size: 1rem;
    font-family: inherit;
    text-align: left;
}

.view-product-textarea{
    height: auto;
}

/* Option styles within select */
option {
    padding: 0.5rem;
}

option:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Form element hover and focus states */
input:hover,
select:hover,
textarea:hover,
.view-product-textarea:hover,
.quill-editor:hover {
    border-color: var(--secondary-color);
}

input:focus,
select:focus,
textarea:focus,
.quill-editor:focus {
    border-color: var(--secondary-color);
    outline: none;
}

/* -------------------------------------------------- */
/* Button styles */
/* -------------------------------------------------- */
button, .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: var(--border-radius);
    font-size: 1rem;
    max-height: 3rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--secondary-hover-color);
}

button:disabled, button:disabled:hover {
    background-color: #dcdcdc;
    cursor: not-allowed;
    color: rgb(144, 144, 144);
}



.edit-btn{
    color: var(--secondary-color);
    background-color: var(--secondary-light-color);
}

.edit-btn:hover{
    background-color: var(--secondary-color);
    color: white;
}

.delete-btn{
    color: var(--danger-color);
    background-color: var(--danger-light-color);
}

.delete-btn:hover{
    background-color: var(--danger-color);
    color: white;
}

.view-btn{
    color: var(--view-color);
    background-color: var(--view-light-color);
}

.view-btn:hover{
    background-color: var(--view-color);
    color: white;
}

.success-btn{
    color: var(--success-color);
    background-color: var(--success-light-color);
}

.success-btn:hover{
    background-color: var(--success-color);
    color: white;
}




/* -------------------------------------------------- */
/* Layout and utility classes */
/* -------------------------------------------------- */

.d-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.align-items-end {
    align-items: end;
}

.w-100 {
    width: 100%;
}

.align-items-normal {
    align-items: normal;
}