:root {
    --checkbox-size: 1.5rem;
    --checkbox-border-color: var(--third-color);
    --checkbox-checked-color: var(--fourth-color);
    --checkbox-disabled-color: #e6e6e6;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    --size: var(--checkbox-size);
}

.checkbox-wrapper.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.custom-input-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox-custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
    border: 2px solid var(--checkbox-border-color);
    border-radius: 4px;
    transition: all 0.5s ease;
    position: relative;

}

.checkmark {
    width: 60%;
    height: 60%;
    stroke: var(--checkbox-checked-color);
    stroke-width: 3px;
    stroke-dasharray: 33;
    stroke-dashoffset: 33;
    fill: none;

    transition: stroke-dashoffset 0.3s ease;
}

.label-text {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.custom-input-checkbox:checked+.checkbox-label .checkbox-custom {
    box-shadow: 0 0 0 3px rgba(255, 140, 0, 0.25);
}

.custom-input-checkbox:checked+.checkbox-label .checkmark {
    stroke-dashoffset: 0;
}

.custom-input-checkbox:hover+.checkbox-label .checkbox-custom {
    box-shadow: 0 0 0 3px rgba(255, 140, 0, 0.25);
}

.custom-input-checkbox:disabled+.checkbox-label .checkbox-custom {
    border-color: var(--checkbox-disabled-color);
}

.checkbox-custom:hover {
    border-color: var(--checkbox-checked-color);
}

.custom-input-checkbox:disabled+.checkbox-label .checkbox-custom:hover {
    border-color: var(--checkbox-disabled-color);
}